@page "/about"

<Layout Title="About The SDN Cast Team">
    <PageBody>
        <div class="row col-md-12 justify-content-md-center">
            A weekly view on what is going on in the world of Software Development by Microsoft MVPs and Software Development Network organizers
        </div>
        <br>
        <div class="row col-md-12 justify-content-md-center">
            Besides the hosts mentioned here we try to invite some interesting guest speakers and developers from other worlds to learn us the new and hot stuff that is going on.
        </div>
        <div class="row col-md-12 justify-content-md-center">
            <HostThumbnail Name="Maarten van Stam" Avatar="https://avatars0.githubusercontent.com/u/5305682?v=3&amp;s=460" BioLink="https://www.maartenvanstam.nl" TwitterAccount="aafvstam" TwitchAccount="MaartenVanStam" />
            <HostThumbnail Name="Marcel Meijer" Avatar="https://avatars1.githubusercontent.com/u/1177838?v=3&amp;s=460" BioLink="https://twitter.com/MarcelMeijer" TwitterAccount="MarcelMeijer" />
            <HostThumbnail Name="Roy Janssen" Avatar="https://pbs.twimg.com/profile_images/1177527747222089728/hOxC8cxz_400x400.jpg" BioLink="https://twitter.com/SemperIT" TwitterAccount="SemperIT" />
        </div>
        
        <div class="row col-md-12 justify-content-md-center">
            <h1 class="font-weight-bold"><br />Alumni ;-)</h1>
        </div>

        <div class="row col-md-12 justify-content-md-center">
            <HostThumbnail Name="Fanie Reynders" Avatar="https://reynders.co/avatar" BioLink="https://twitter.com/FanieReynders" TwitterAccount="FanieReynders" TwitchAccount="FanieReynders"/>
            <HostThumbnail Name="Gerald Versluis" Avatar="https://avatars1.githubusercontent.com/u/939291?v=3&amp;s=460" BioLink="https://twitter.com/jfversluis" TwitterAccount="jfversluis" TwitchAccount="jfversluis" />
        </div>

    </PageBody>

</Layout>
