@page "/about"

<Layout Title="About The SDN Cast Team">
    <PageBody>
        <div class="row col-md-12 justify-content-md-center">
            A daily view on what is going on in the world of Software Development by Microsoft MVPs and Software Development Network organizers
        </div>
        <br>
        <div class="row col-md-12 justify-content-md-center">
            Besides the hosts mentioned here we try to invite some interesting guest speakers and developers from other worlds to learn us the new and hot stuff that is going on.
        </div>
        <div class="row col-md-12 justify-content-md-center">

            @foreach (var membertypes in AppSettings.Value.CastMemberTypesDictionary)
            {
                @if (membertypes.Key.Contains("Core"))
                {
                    <div class="row col-md-12 display-4 mt-4 justify-content-md-center">
                        @membertypes.Key
                    </div>

                    @foreach (var castmember in membertypes.Value.CastMemberDictionary)
                    {
                        <HostThumbnail Name=@castmember.Value.Name
                                       Avatar=@castmember.Value.Avatar
                                       BioLink=@castmember.Value.BioLink
                                       TwitterAccount=@castmember.Value.TwitterAccount
                                       TwitchAccount=@castmember.Value.TwitchAccount
                                       YouTubeAccount=@castmember.Value.YouTubeAccount />
                    }
                }
            }

            @foreach (var membertypes in AppSettings.Value.CastMemberTypesDictionary)
            {
                @if (membertypes.Key.Contains("Core") == false)
                {
                    <div class="row col-md-12 display-4 mt-4 justify-content-md-center">
                        @membertypes.Key ;-)
                    </div>

                    @foreach (var castmember in membertypes.Value.CastMemberDictionary)
                    {
                        <HostThumbnail Name=@castmember.Value.Name
                                       Avatar=@castmember.Value.Avatar
                                       BioLink=@castmember.Value.BioLink
                                       TwitterAccount=@castmember.Value.TwitterAccount
                                       TwitchAccount=@castmember.Value.TwitchAccount
                                       YouTubeAccount=@castmember.Value.YouTubeAccount />
                    }
                }
            }

        </div>

    </PageBody>

</Layout>
