@page "/about"

<div class="row">
    A Weekly view on what is going on in the world of Software Development by Microsoft MVPs and Software Development Network organizers
</div>
<br>
<div>
    <center>
        <a href="https://twitter.com/MarcelMeijer">Marcel Meijer</a>, <a href="https://twitter.com/aafvstam">Maarten van Stam</a>, <a href="https://twitter.com/FanieReynders">Fanie Reynders</a> and last but not least <a href="https://twitter.com/jfversluis">Gerald Versluis</a>
    </center>
</div>
<br>
<div class="row">
    Besides the hosts mentioned here we try to invite some interesting guest speakers and developers from other worlds to learn us the new and hot stuff that is going on.
</div>
<div class="row">
    <div class="col-lg-3 text-center">
        <a href="https://twitter.com/aafvstam">
            <img src="https://avatars0.githubusercontent.com/u/5305682?v=3&amp;s=460" class="rounded-circle" alt="Maarten van Stam image" height="140" width="140">
            <h3>Maarten van Stam</h3>
        </a>
    </div>

    <div class="col-lg-3 text-center">
        <a href="https://twitter.com/MarcelMeijer">
            <img src="https://avatars1.githubusercontent.com/u/1177838?v=3&amp;s=460" class="rounded-circle" alt="Marcel Meijer image" height="140" width="140">
            <h3>Marcel Meijer</h3>
        </a>
    </div>

    <div class="col-lg-3 text-center">
        <a href="https://twitter.com/FanieReynders">
            <img src="https://avatars0.githubusercontent.com/u/1938143?v=3&amp;s=460" class="rounded-circle" alt="Fanie Reynders image" height="140" width="140">
            <h3>Fanie Reynders</h3>
        </a>
    </div>

    <div class="col-lg-3 text-center">
        <a href="https://twitter.com/jfversluis">
            <img src="https://avatars0.githubusercontent.com/u/939291?v=3&amp;s=460" class="rounded-circle" alt="Gerald Versluis image" height="140" width="140">
            <h3>Gerald Versluis</h3>
        </a>
    </div>
</div>



