@page "/about"

<div class="row">
    A Weekly view on what is going on in the world of Software Development by Microsoft MVPs and Software Development Network organizers
</div>
<br>
<div>
    <center>
        <a href="https://twitter.com/MarcelMeijer">Marcel Meijer</a>, <a href="https://twitter.com/aafvstam">Maarten van Stam</a>, and last but not least <a href="https://twitter.com/FanieReynders">Fanie Reynders</a>
    </center>
</div>
<br>
<div class="row">
    Besides the hosts mentioned here we try to invite some interesting guest speakers and developers from other worlds to learn us the new and hot stuff that is going on.
</div>
<div class="row">
    <HostThumbnail Name="Maarten van Stam" Avatar="https://avatars0.githubusercontent.com/u/5305682?v=3&amp;s=460" BioLink="https://twitter.com/aafvstam" />
    <HostThumbnail Name="Marcel Meijer" Avatar="https://avatars1.githubusercontent.com/u/1177838?v=3&amp;s=460" BioLink="https://twitter.com/MarcelMeijer" />
    <HostThumbnail Name="Fanie Reynders" Avatar="https://reynders.co/avatar" BioLink="https://twitter.com/FanieReynders" />
</div>



