<div class="col-lg-4 text-center">
    <a href="@BioLink">
        <img src="@Avatar" class="rounded-circle" alt="@Name image" height="140" width="140">
        <h3>@Name</h3>
    </a>
</div>

@code {
   

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Avatar { get; set; }

    [Parameter]
    public string BioLink { get; set; }
}
