<div class="text-center">
    <h1 class="container text-center">Sorry, this page requires authorization</h1>

    <div class="p-5">
        <a href="AzureAD/Account/SignIn">
            <i class="fas fa-door-closed fa-9x text-sdn"></i><br />
            <h2>
                Log in here ...
            </h2>
        </a>
    </div>
</div>
