<nav class="navbar navbar-expand-md navbar-dark bg-transparent">
    <NavLink Match="NavLinkMatch.All" class="navbar-brand" href="">
        <img src="/images/sdncastlogo.png">
    </NavLink>
    <NavMenu />
</nav>