<header class="jumbotron sdncast">
    <div class="container">
        @ChildContent
        @if (!string.IsNullOrEmpty(Title))
        {
            <h1 class="col-md-12 text-center">@Title</h1>
        }

    </div>
</header>

@code{
    [Parameter] private RenderFragment ChildContent { get; set; }
    [Parameter] private string Title { get; set; }
}