
<footer>
    <div class="d-flex flex-row justify-content-center text-white p-3 background-sdn">
        <div class="text-right mr-2">
            Powered by: @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
        </div>
        <div class="text-left ml-2">
            <i class="fa fa-copyright"></i> @DateTime.Now.Year SDN. All rights reserved.
        </div>
    </div>
</footer>