<?xml version="1.0" encoding="utf-8"?>
<rewrite>
  <rules>
    <rule name="Redirect to YouTube Subscription Page" stopProcessing="true">
      <match url="^subscribe|^youtube" />
      <action type="Redirect" redirectType="Permanent" url="https://www.youtube.com/channel/UC3oE_YPB4AJVQSInC-yy3pw?sub_confirmation=1" />
    </rule> 
  </rules>
</rewrite>